body{
    font-family:montserrat, sans-serif;
    
}
ul{
    border: px solid blue;
    width: 10%;
    padding: 100px auto;
    margin: auto;
    margin-top: 18%;
    color: white
}
a{
    color: white
}
a:hover{
    color: aqua
}
/* .spring{
    color: rgb(7, 177, 7);
}
a.spring:hover{
    color:blue;
}
.summer{
    color: red;    
}
a.summer:hover{
    color:blue;
}
.autumn{
    color: orange;
}
a.autumn:hover{
    color:blue;
}
.winter{
    color: rgb(47, 89, 193)
}
a.winter:hover{
    color:blue;
} */

