.container {
  display: flex;
  justify-content: center;
}

.object1 {
  background-color: blue;
  height: 100px;
  width: 100px;
  margin: 50px;
}
.object2 {
  background-color: red;
  height: 100px;
  width: 100px;
  margin: 50px;
}
.object3 {
  background-color: aqua;
  height: 100px;
  width: 100px;
  margin: 50px;
}
.object4 {
  background-color: violet;
  height: 100px;
  width: 100px;
  margin: 50px;
}
.object {
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 0 0 10px;
}
.object:hover {
  transform: scale(2);
}
