a{
    color:yellowgreen;
}
a:link{
    color: pink
}
a:visited{
    color: aqua;
}
a:hover{
    color: red
}

a:active{
    color: blue
}
div{
    background: blueviolet;
    height: 200px;
    width: 200px;
}
div:hover{
    background: orange;
}