*{
	margin: 0;
	padding: 0;
}

.container{  /* флекс-контейнер */
	background: yellow;
	margin: 100px auto;
	padding: 10px 0;	
	display: flex;
	height: 400px;
	flex-direction: column;
	flex-wrap: wrap;
	/* justify-content: space-evenly; */
	/* align-items: flex-start; */
	/* align-content: space-evenly; */
}

.element{   /* флекс-элементы */
	border: 1px solid black;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 20px;
	flex-basis: 300px;
	/* height: 50px; */
}
 .first{
	/* margin-right: auto; */
	/*font-size: 40px;
	align-self: flex-end;
	order: 2; */
}
 .second{
	/* margin-left: auto; */
	/*align-self: center;
	order: 1;*/
} 

