/* ul{
    /* list-style-type: circle;
    list-style-image: url(111.jpg);
    list-style-position: inside; */
    /* text-align: center; */
    list-style: circle inside url(111.jpg);
}
ol{
    list-style-type:lower-greek;
list-style-image: none;}

/* body{
    background: green;
} */
/* li{
    background: green;
} */ */