body {
  max-width: 1050px;
  margin: 20px auto;
}
tr,
td,
table {
  vertical-align: top;
  table-layout: fixed;
}
form {
  border: 1px solid rgb(28, 84, 195);
  width: 900px;
}
.print {
  text-align: right;
  margin: 0;
}
textarea {
  max-width: 670px;
}
.create {
  width: 500px;
  margin: 20px 50px;
}
.odin {
  font-weight: bold;
  width: 200px;
}
th {
  color: rgb(28, 84, 195);
}
#dostup {
  margin: 20px auto;
}
#firstname,
#secondname,
#login,
#psw,
#psw2,
#mail {
  width: 230px;
}
#answer {
  width: 400px;
}
#mesto {
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
}
