body{
    background-image: url(../img/pattern.png);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.tablehead{
    background-image: url(../img/tablebg.jpg);
}
table{
    margin: 100px auto;
    text-align: center;
}
td, th, table{
    border: 3px solid rgb(202, 199, 199);
    border-collapse: collapse;
       
}
th{
    padding: 30px
}
td{
    padding: 15px;
}
tr{
    background-color: white;
}
.row{
    background-color:  rgb(202, 199, 199);
}

