p{
    /* border: 1px solid rgb(0, 0, 0);
    /* border-left: 4px solid blue;
    border-width: 10px 1px 3px 6px;
    border-right-width: 1px;
    border-style: inset;
    border-top-style: dotted;
    border-color: red;
    border-bottom-color: aqua */
    margin: 100px 3px 50px 60px;
    margin-left: 20px;
    padding: 20px 60px 10px 0;
    padding-left: 40px */
}
.one, .two{
    width: 300px;
    border: 2px solid red;
    padding: 20px
}
.one{
    box-sizing:border-box;
}
.two{
    box-sizing: content-box;
}





















