*{
	margin: 0;
	padding: 0;
}

.container{  /* флекс-контейнер */
	background: yellow;
	margin: 100px auto;
	padding: 10px 0;	
}

.element{   /* флекс-элементы */
	border: 1px solid black;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 20px;	
}

